@import "tailwindcss";
@font-face {
  font-family: "Pirates";
  src: url("./assets/fonts/MATURASC_1.ttf");
}
@font-face {
    font-family: "Mine";
    src: url("./assets/fonts/MATURASC_1.otf");
}
@font-face {
    font-family: "Brotesk";
    src: url("./assets/fonts/roc-grotesk-extra-wide-bold.otf");
}
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}
@keyframes live {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.4;
    transform: scale(1.1);
  }
}
html{
  scroll-behavior: smooth;
}